<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dynamic Blog</title>
	<link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/css/templatemo-xtra-blog.css}" type="text/css" />
    
<!--
    
TemplateMo 553 Xtra Blog

https://templatemo.com/tm-553-xtra-blog

-->
</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                <h2 class="text-center"> <a method="get" action="/logout" href="/logout" sec:authorize= "isAuthenticated()"> Logout </a> </h2>
                <h2 class="text-center"> <a method="get" action="/login" href="/login" sec:authorize="!isAuthenticated()"> Login </a> </h2>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                <li class="tm-nav-item"><a method="get" action="/registeruser" href="/registeruser" class="tm-nav-link"  sec:authorize="!isAuthenticated()">
                        <i class="fas fa-home"></i>
                        Register User
                    </a></li>
                    <li class="tm-nav-item"><a method="get" action="/home" href="/home" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a></li>
                    <li class="tm-nav-item active"><a method="get" action="/new" href="/new" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Add Blog
                    </a></li>
                    <li class="tm-nav-item"><a method="get" action="/aboutus" href="/aboutus" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Us
                    </a></li>
                    <li class="tm-nav-item"><a method="get" action="/contact" href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>
                </ul>
            </nav>
            
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="post" th:action="@{/searchblog}" th:href="@{/searchblog}" class="form-inline tm-mb-80 tm-search-form">                
                        <input class="form-control tm-search-input"  name="search" id="search" type="text" placeholder="Search by author name" aria-label="Search">
                        <button class="tm-search-button" type="submit" >
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>                                
                    </form>
                </div>                
            </div>            
            
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        
                        <!-- Comments -->
                        <div>
                                </div>                                
                            </div>
                            
                            <form action="#" th:action="@{/saveBlog}" method="POST" th:object="${blog}" enctype="multipart/form-data" class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Add Blog</h2>
                                <div class="mb-4">
                                    Data: <textarea class="form-control" th:field="*{data}" rows="6"></textarea>
                                </div>
                                <div class="mb-4">
                                    Date: <input class="form-control" th:field="*{date}" type="date">
                                </div>
                                <div class="mb-4">
                                   Title: <input class="form-control" th:field="*{title}" type="text">
                                </div>
                                <div class="mb-4">
                                    Image: <input class="form-control" id="imageFile" name="imageFile" type="file">
                                </div>
                                <!--
								<div class="mb-4">
                                    Author Email: <input class="form-control" th:field="*{author.email}" type="text">
                                </div>
                                <div class="mb-4">
                                    Author Name: <input class="form-control" th:field="*{author.name}" type="text">
                                </div>-->
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                </div>                                
                            </form>                          
                        </div>
                    </div>
                </div>
                
            </div>
            <footer class="row tm-row">
                <div class="col-md-6 col-12 tm-color-gray">
                    Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-external-link">TemplateMo</a>
                </div>
                <div class="col-md-6 col-12 tm-color-gray tm-copyright">
                    Copyright 2020 Xtra Blog Company Co. Ltd.
                </div>
            </footer>
        </main>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{js/templatemo-script.js}"></script>
</body>
</html>